$color-primary-00: #0000ff;
$color-primary-01: #ff764d;

$color-neutral-00: #000000;
$color-neutral-01: #ffffff;
$color-neutral-02: #eeeeee;
$color-neutral-03: #f3f3f3;
$color-neutral-04: #fbffa7;
$color-neutral-05: #b6ffc0;
$color-neutral-06: #b1c5ff;
$color-neutral-07: #d5b3ff;