$color-primary-00: #0000ff;
$color-primary-01: #ff764d;

$color-neutral-00: #000000;
$color-neutral-01: #ffffff;
$color-neutral-02: #fbffa7;
$color-neutral-03: #b6ffc0;
$color-neutral-04: #b1c5ff;
$color-neutral-05: #d5b3ff;