@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;
@use '../base/typography' as typography;

.about {
  max-width: 1600px;
  margin-inline: auto;
  padding-inline: 2rem;
  background-color: variables.$color-neutral-01;
  color: variables.$color-neutral-00;

  &__hero {
    position: relative;
    margin-block-end: 3rem;

    &>.about__title {
      @include typography.font-size('5xl');

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: variables.$color-primary-01;
    }
  }

  &__description,
  &__figure {
    max-width: 683px;
    margin-inline: auto;
  }

  &__figure {
    &>figcaption {
      @include typography.font-size('sm');

      padding: 0.75rem;
    }
  }

  &__video {
    display: block;
    max-width: 100%;
  }

  &__image {
    width: 100%;
    padding-inline: 6.625rem;
  }

  &__title {
    @include typography.font-size('lg');

    margin-block-end: 1rem;

    &>a {
      @include mixins.reset-anchor;

      color: variables.$color-primary-00;
    }
  }
}

@media (min-width: 768px) {
  .about {
    &__hero {
      &>.about__title {
        @include typography.font-size('7xl');
      }
    }

    &__title {
      @include typography.font-size('2xl');
    }
  }
}

@media (min-width: 1280px) {
  .about {
    padding-inline: 3rem;

    &__hero {
      &>.about__title {
        @include typography.font-size('9xl');
      }
    }
  }
}